include /etc/nginx/disk/upstream.inc;

server {
    listen 80;
    listen [::]:80;
    server_name disk.example.com;

    return 308 https://$server_name$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name disk.example.com;

    ssl_certificate /etc/letsencrypt/live/disk.example.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/disk.example.com/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_session_cache shared:DiskTLS:10m;
    ssl_session_timeout 1d;
    ssl_session_tickets off;

    include /etc/nginx/disk/proxy-server.inc;
}
